body {
    margin: 0;
    /* overflow: hidden; Prevent scrollbars */
    font-family: Arial, sans-serif;
    color: white;
}

#navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d6fa5;
}

#background {
    position: relative; /* Establish a positioning context for the canvases */
    z-index: -1; /* Ensure the canvases are under all other content */
}

#background canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    z-index: -1; /* Push canvases behind other elements */
}

